@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600&family=Ubuntu:wght@300;400;500&display=swap');

body{
    margin: 0%;
}

.contact{
    display: flex;
    /* justify-content: space-around; */
    background: #ECF3FF;
    padding-top: 8px;
    /* font-family: 'Manrope'; */
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: #454A6D;
    font-weight: 400;
}

.c1{
    padding-left: 2%;
}

.c2{
    padding-left: 2%;
    padding-right: 36%;
    flex-grow: 0.5;
}

.c3{
    padding-left: 15%;
    margin-right: 10px;
}

.c4{
    
}

.cicon{
    margin-right: 5px;
}

.c5{
    padding-left: 3%;
}


nav{
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    background: #ECF3FF;
    height: 40px;
}

.navdiv{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0.5;
}

.global{
    flex-grow: 0.5;
    /* background-image: url(images/global\ logo.png); */
    width: 90px;
    /* height: 61px; */
    background: none;
    border: none;
}

.search{
    width: 200px;
    height: 50px;
    border: 1px solid #454A6D;
    border-radius: 5px;
}

.search2{
    display: none;
}

.navbutton{
    background: none;
    border: none;
    flex-grow: 0.08;
    font-family: 'Manrope';
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

.navbutton:hover{
    background: #FFFFFF;
    border-radius: 10px 10px 0px 0px;
}

.first{
    background-image: url(images/first\ bg.png);
    display: flex;
}

.left{
    padding: 4%;
    width: 760px;
}


.lefth1{
color: #005DF2;
}
.lefth3{
font-family: 'Manrope';
color: #005DF2;
font-family: 'Rubik', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-weight: 400;
font-size: 18px;
}

.bp{
    color: #EA9212;
}

.lefttext1{
    width: 658px;
    height: 166px;
}

.lefttext2{
    width: 476px;
    height: 50px;
}

.pic{
    width:510px;
    margin-top: 120px;
}

/* .right{
    align-items: flex-end;
} */

/*@media (max-width: 333px){
    .right{
        right:0;
    }
}*/

.viewcourses{
    width: 218px;
    height: 58px;
    background: #EA9212;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    border: none;
}

.howitworks{
    width: 218px;
    height: 58px;
    border: 1px solid #005DF2;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    color: #005DF2;
    background: none; 
}

.leftbtn{
    margin-bottom: 98px;
}

.article{
    /* margin-top: 20px; */
}

.articleinside{
    position: absolute;
    bottom: 35px;
    left: 110px;
    margin-top: 40px;
}

.articlebtn1{
    position: absolute;
    width: 122.01px;
    height: 32.54px;
    bottom: 44px;
    left: 310px;
    background: #D2E3FF;
    border: none;
    border-radius: 16.2679px;
    font-weight: 500;
    font-size: 14.6411px;
    color: #005DF2;
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.articlebtn2{
    position: absolute;
    width: 122.01px;
    height: 32.54px;
    bottom: 7px;
    left: 310px;
    background: #D2E3FF;
    border: none;
    border-radius: 16.2679px;
    font-weight: 500;
    font-size: 14.6411px;
    color: #005DF2;
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.art{
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.secondtop{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    /* box-shadow: 0px 10px 56px rgba(0, 0, 0, 0.08); */
    border-radius: 5px 5px  0px 0px;
    padding: 3%;
}

.secondbottom{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 10px 56px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 5px 5px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.r1{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 25px;
}

.r11{
    display: flex;
    width: 550px;
}

.r11right{
    padding-left: 20px;
}

.r12{
    display: flex;
    width: 550px;
}

.r12right{
    padding-left: 20px;
}

.servicesbtn{
    width: 218px;
    height: 58px;
    background: #005DF2;
    border: none;
    border-radius: 9px;
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.r2{
    display: flex;
    justify-content: space-evenly;
}

.r21{
    display: flex;
    width: 550px;
}

.r21right{
    padding-left: 20px;
}

.r22{
    display: flex;
    width: 550px;
}

.r22right{
    padding-left: 20px;
}

.secondh2{
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.secondp{
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}


/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600&family=Ubuntu:wght@300;400;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600&family=Ubuntu:wght@300;400;500&display=swap');
.s1{
    font-family: 'DM Serif Text';
    /* font-weight: 400;
    font-size: 30px; */
    color: #1F1F1F;
    
    /* font-family: 'Rubik', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */
font-weight: 550;
font-size: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600&family=Ubuntu:wght@300;400;500&display=swap');
.s2{
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.second{
    background-image: url(images/second\ bg.png);
    padding-left: 5%;
    padding-right: 5%;
    /* margin-bottom: 20px; */
}

.third{
    background-image: url(images/third\ bg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3%;
}

.third1{
    font-family: 'DM Serif Text';
    font-weight: 600;
    font-size: 30px;
    color: #1F1F1F;
}

.third2{
    font-family: 'Manrope';
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.third3{
    font-family: 'Manrope';
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.third4{
    font-family: 'Manrope';
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.fourth{
    background-image: url(images/fourth\ bg.png);
    margin-top: -20px;
}

.fourthbottom{
    display: flex;
    /* padding-left: 5%;
    padding-right: 5%; */
}

.fourthleft{
    padding-left: 7%;
    /* padding-right: 5%; */
}

.fourthright{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
   /* padding-right: 5%; */
}

.rightcommon{
    width: 555px;
    height: 146px;
    margin-bottom: 45px;
    display: flex;
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.abouttext{
    font-weight: 400;
}

.aboutbtn{
    color: #005DF2;
    border: none;
    font-weight: 700;
    background: none;
}

.fourthtop{
    text-align: center;
    padding: 1%;
}

.f1{
    padding-right: 5%;
}

.fifth{
    display: flex;
    flex-direction: column;
}

.fifthtop{
    text-align: center;
    padding: 2%;
}

.fifthbottom{
    display: flex;
    justify-content: space-evenly;
}

.fifthitem1{
    width: 281px;
    height: 417px;
    box-shadow: 0px 56.1014px 55.2383px 4.31549px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}

.helmettext{
    font-family: 'Manrope';
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 10px;
    font-weight: 500;
}

.helmetdate{
    font-family: 'Manrope';
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #BEBEBE;
    font-size: 14px;
    margin-left: 10px;
}

.helmetbutton{
    background: #005DF2;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    width: 247.71px;
    height: 50.06px;
    font-size: 15.5358px;
    margin-left: 17px;
}

.fifthbtn{
    background: none;
    border: none;
    border-radius: 100%;
    box-shadow: 0px 5.09962px 5.09962px rgba(0, 0, 0, 0.25);
    width: 40px;
    height: 40px;
    position: relative;
    top: 195px;
}

.fviewmore{
    text-align: center;
}

.fviewmorebtn{
    width: 173px;
    height: 58px;
    border: 2px solid #005DF2;
    border-radius: 5px;
    background: none;
    color: #005DF2;
    font-size: 16px;
    margin: 2.5%;
}

.sixth{
    background-image: url(images/sixth\ bg2.png);
}

.sixthtop{
    text-align: center;
    padding: 10px;
}

.sixthbottom{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    /* font-family: 'Manrope'; */
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.sixthpt{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 144.516px -46.4516px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 581.16px;
    height: 250px;
    padding: 2%;
}

.seventh{
    display: flex;
    position: relative;
    top: 50px;
    left: 665px;
    gap: 15px;
    width: 195px;
    margin-bottom: 60px;
}

.dots{
    width:15px;
    height: 15px;
    background: #C4C4C4;
    border-radius: 100%;
}

.eighth{
    display: flex;
    flex-direction: column;
}

.eighthtop{
    text-align: center;
}

.eighthbottom{
    display: flex;
    justify-content: space-around;
}

.eighthitem{
    width: 307.06px;
    height: 87.98px;
    border-radius: 5px;
    padding: 2%;
}

.ei1{
    background-image: url(images/eighth1.png);
}

.ei2{
    background-image: url(images/eighth2.png);
}

.ei3{
    background-image: url(images/eighth3.png);
}

.ei4{
    background-image: url(images/eighth4.png);
}

.eighthh4{
    font-family: 'Manrope';
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

footer{
    width: 100%;
    height: 470px;
    background: #061C41;
    display: flex;
    flex-direction: column;
    font-family: 'Manrope';
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
    color: #FFFFFF;
}

.ftop{
    display: flex;
    justify-content: space-around;
}

.footer1{
    width: 311px;
    height: 153px;
    padding: 3%;
    font-size: 22.489px;
    font-weight: 100;
}

.footer2{
    padding: 3%;
    line-height: 35px;
}

.footer3{
    padding: 3%;
    line-height: 35px;
}

.footer4{
    padding: 3%;
}

#newsletter{
    border: 2px solid #FFFFFF;
    border-radius: 9px;
    width: 295px;
    height: 65px;
    background: none;
    margin-bottom: 25px;
}

::placeholder{
    padding: 5%;
    font-family: 'Manrope';
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

::-ms-input-placeholder{
    font-family: 'Manrope';
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

.subs{
    background: #F89F1C;
    border: none;
    border-radius: 9px;
    width: 165px;
    height: 60px;
    font-family: 'Manrope';
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 50px;
}

.ficon{
    opacity: 0.25;
    border: none;
    border-radius: 100%;
}

hr{
    width: 1318px;
    height: 2px;
    background: #FFFFFF;
    opacity: 0.2;
}

.copyright{
    font-weight: 400;
    text-align: center;
}



@media only screen and (max-width: 360px){
    body{
        margin: 0%;
    }

    .contact{
        /* display: flex;
        background: #ECF3FF;
        padding-top: 8px;
        font-family: 'Rubik', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        color: #454A6D;
        font-weight: 400; */
        /* display: none; */
    }

    .c1{
        /* padding-left: 2%; */
        display: none;
    }

    .c2{
        /* padding-left: 2%;
        padding-right: 36%;
        flex-grow: 0.5; */
        display: none;
    }

    .c3{
        /* padding-left: 15%;
        margin-right: 10px; */
        display: none;
    }

    .c4{
        display: none;
    }

    .cicon{
        /* margin-right: 5px; */
        display: none;
    }

    .c5{
        /* padding-left: 3%; */
        display: none;
    }


    nav{
        /* padding: 2%;
        display: flex;
        flex-wrap: wrap; */
        background: #ECF3FF;
        width: 50px;
        /* height: 40px; */
        /* display: none; */
    }

    .navdiv{
        /* display: flex;
        flex-wrap: wrap;
        flex-grow: 0.5; */
        /* display: none; */
    }

    .global{
        position: absolute;
        /* width: 100%; */
        left: 110px;
        top: 20px;
    }

    .search{
        /* position: absolute;
        width: 50px;
        left: 320px;
        top: 20px; */
        display: none;
    }
    
    .search2{
        position: absolute;
        width: 25px;
        height: 25px;
        left: 340px;
        top: 30px;
        display: block;
        background: none;
        border: none;
        font-size: 20px;
        color: #454A6D;
    }

    .hammenu{
        width: 40px;
        height: 4px;
        background-color: black;
        margin: 6px 0;
    }

    .navbutton{
        /* background: none;
        border: none;
        flex-grow: 0.08;
        font-family: 'Manrope';
        font-family: 'Rubik', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px; */
        display: none;
    }

    .first{
        background-image: url(images/first\ bg.png);
        margin-bottom: 400px;
    }

    .left{
        /* padding: 4%; */
        /* width: 760px; */
    }


    .lefth1{
    color: #005DF2;
    font-size: 24px;
    }
    .lefth3{
    font-family: 'Manrope';
    color: #005DF2;
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 18px;
    }

    .bp{
        color: #EA9212;
    }

    .lefttext1{
        width: 329px;
        height: 166px;
        /* position: absolute;
        width: 329px;
        height: 166px; */
        left: 16px;
        top: 121px;
        font-size: 24px;
    }

    .lefttext2{
        /* width: 476px;
        height: 50px; */
        width: 329px;
        height: 166px;
        position: absolute;
        /* width: 329px;
        height: 166px; */
        left: 16px;
        top: 180px;
        font-size: 24px;
    }

    .right{
        position: absolute;
        left: 40px;
        top: 130px;
    }
    
    .pic{
        /* width:510px;
        margin-top: 120px; */
        /* width: 160.6px; */
        width: 250px;
        height: 290px;
        /* height: 296.66px;
        right: 100px; */
        /* top: 0px; */
    }

    .viewcourses{
        position: absolute;
        width: 157px;
        height: 52px;
        top: 666px;
        background: #EA9212;
        border-radius: 5px;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 14px;
        border: none;
        /* display: none; */
    }

    .howitworks{
        position: absolute;
        width: 157px;
        height: 52px;
        top: 666px;
        left: 210px;
        border: 1px solid #005DF2;
        border-radius: 5px;
        font-weight: 500;
        font-size: 14px;
        color: #005DF2;
        background: none; 
        /* display: none; */
    }

    .leftbtn{
        margin-bottom: 98px;
    }

    .article{
        /* margin-top: 20px; */
        /* display: none; */
        position: absolute;
        left: 16px;
        top: 530px;
    }
    
    .articlepic{
        width: 329px;
        height: 125px;
    }

    .articleinside{
        position: absolute;
        bottom: 18px;
        left: 10px;
        width: 180px;
        margin-top: 40px;
        font-size: 14px;
    }

    .articlebtn1{
        position: absolute;
        width: 86px;
        height: 23px;
        bottom: 60px;
        left: 220px;
        background: #D2E3FF;
        border: none;
        border-radius: 16.2679px;
        font-weight: 500;
        font-size: 12px;
        color: #005DF2;
        font-family: 'Rubik', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }

    .articlebtn2{
        position: absolute;
        width: 86px;
        height: 23px;
        bottom: 20px;
        left: 220px;
        background: #D2E3FF;
        border: none;
        border-radius: 16.2679px;
        font-weight: 500;
        font-size: 12px;
        color: #005DF2;
        font-family: 'Rubik', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }

    .art{
        font-family: 'Rubik', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }

    .secondtop{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 5px 5px  0px 0px;
        /* padding: 3%; */
        position: absolute;
    }

    .secondbottom{
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 0px 10px 56px rgba(0, 0, 0, 0.08);
        border-radius: 0px 0px 5px 5px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .r1{
        display: block;
        justify-content: space-evenly;
        padding-bottom: 25px;
        position: absolute;
        width: 220px;
        height: 64px;
    }

    .r11{
        /* display: none; */
        /* width: 550px; */
        /* position: absolute; */
        /* width: 220px;
        height: 64px; */
        /* font-size: 12px; */
    }
    
    /* .icon1{
        position: absolute;
        width: 70px;
        height: 70px;
    } */

    .r11right{
        /* padding-left: 20px; */
        position: absolute;
        left: 100px;
        font-size: 10px;
    }

    .r12{
        display: block;
        width: 550px;
    }

    .r12right{
        padding-left: 20px;
    }

    .servicesbtn{
        width: 218px;
        height: 58px;
        background: #005DF2;
        border: none;
        border-radius: 9px;
        font-family: 'Rubik', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #FFFFFF;
        display: none;
    }

    .r2{
        display: block;
        justify-content: space-evenly;
    }

    .r21{
        display: block;
        width: 550px;
    }

    .r21right{
        padding-left: 20px;
    }

    .r22{
        display: block;
        width: 550px;
    }

    .r22right{
        padding-left: 20px;
    }

    .secondh2{
        font-family: 'Rubik', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
    }

    .secondp{
        font-family: 'Rubik', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
    }


    /*  */

    .s1{
        font-family: 'DM Serif Text';
        /* font-weight: 400;
        font-size: 30px; */
        color: #1F1F1F;
        
        /* font-family: 'Rubik', sans-serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    font-weight: 550;
    font-size: 30px;
    }


    .s2{
        font-family: 'Rubik', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        font-size: 16px;
    }

    .second{
        background-image: url(images/second\ bg.png);
        padding-left: 5%;
        padding-right: 5%;
        /* margin-bottom: 20px; */
    }

    .third{
        background-image: url(images/third\ bg.png);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 3%;
    }

    .third1{
        font-family: 'DM Serif Text';
        font-weight: 600;
        font-size: 30px;
        color: #1F1F1F;
    }

    .third2{
        font-family: 'Manrope';
        font-family: 'Rubik', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        font-size: 18px;
    }

    .third3{
        font-family: 'Manrope';
        font-family: 'Rubik', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;
        font-size: 16px;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
    }

    .third4{
        font-family: 'Manrope';
        font-family: 'Rubik', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;
        font-size: 16px;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
    }

    .fourth{
        background-image: url(images/fourth\ bg.png);
        margin-top: -20px;
    }

    .fourthbottom{
        display: flex;
        flex-direction: column;
        /* padding-left: 5%;
        padding-right: 5%; */
    }

    .fourthleft{
        padding-left: 7%;
        order: 2;
        /* padding-right: 5%; */
    }

    .fourthright{
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        font-size: 12px;
        width: 188px;
    /* padding-right: 5%; */
    }

    .rightcommon{
        width: 188;
        height: 146px;
        margin-bottom: 45px;
        display: flex;
        font-family: 'Rubik', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }

    .abouttext{
        font-weight: 400;
        width: 188px;
        font-size: 12px;
    }

    .fourthh3{
        width: 188px;
        font-size: 12px;
    }

    .fourthpic{
        width: 274.25px;
        height: 294.74px;
    }

    .aboutbtn{
        color: #005DF2;
        border: none;
        font-weight: 700;
        background: none;
    }

    .fourthtop{
        text-align: center;
        padding: 1%;
    }

    .f1{
        padding-right: 5%;
    }

    .fifth{
        display: flex;
        flex-direction: column;
    }

    .fifthtop{
        text-align: center;
        padding: 2%;
    }

    .fifthbottom{
        display: flex;
        justify-content: space-evenly;
    }

    .fi2{
        display: none;
    }
    .fi3{
        display: none;
    }
    .fi4{
        display: none;
    }

    .fifthitem1{
        width: 281px;
        height: 417px;
        box-shadow: 0px 56.1014px 55.2383px 4.31549px rgba(0, 0, 0, 0.08);
        border-radius: 5px;
    }

    .helmettext{
        font-family: 'Manrope';
        font-family: 'Rubik', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 10px;
        font-weight: 500;
    }

    .helmetdate{
        font-family: 'Manrope';
        font-family: 'Rubik', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;
        color: #BEBEBE;
        font-size: 14px;
        margin-left: 10px;
    }

    .helmetbutton{
        background: #005DF2;
        border: none;
        border-radius: 5px;
        color: #FFFFFF;
        width: 247.71px;
        height: 50.06px;
        font-size: 15.5358px;
        margin-left: 17px;
    }

    .fifthbtn{
        background: none;
        border: none;
        border-radius: 100%;
        box-shadow: 0px 5.09962px 5.09962px rgba(0, 0, 0, 0.25);
        width: 40px;
        height: 40px;
        position: relative;
        top: 195px;
    }

    .fviewmore{
        text-align: center;
    }

    .fviewmorebtn{
        width: 173px;
        height: 58px;
        border: 2px solid #005DF2;
        border-radius: 5px;
        background: none;
        color: #005DF2;
        font-size: 16px;
        margin: 2.5%;
    }

    .sixth{
        background-image: url(images/sixth\ bg2.png);
    }

    .sixthtop{
        text-align: center;
        padding: 10px;
    }

    .sixthbottom{
        display: flex;
        text-align: center;
        justify-content: space-evenly;
        /* font-family: 'Manrope'; */
        font-family: 'Rubik', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }

    .sixthpt{
        background-color: #FFFFFF;
        box-shadow: 0px 0px 144.516px -46.4516px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        width: 581.16px;
        height: 250px;
        padding: 2%;
    }

    .seventh{
        display: flex;
        position: relative;
        top: 50px;
        left: 665px;
        gap: 15px;
        width: 195px;
        margin-bottom: 60px;
    }

    .dots{
        width:15px;
        height: 15px;
        background: #C4C4C4;
        border-radius: 100%;
    }

    .eighth{
        display: flex;
        flex-direction: column;
    }

    .eighthtop{
        text-align: center;
        margin-top: 50px;
    }

    .eighthbottom{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 50px;
    }

    .eighthitem{
        /* width: 307.06px;
        height: 87.98px; */
        border-radius: 5px;
        padding: 2%;
        width: 307.06px;
        height: 87.98px;
        margin-bottom: 15px;
        box-shadow: 0px 17.5968px 29.9146px 2.63952px rgba(0, 0, 0, 0.07);
        border-radius: 5px;
    }

    .ei1{
        background-image: url(images/eighth1.png);
    }

    .ei2{
        background-image: url(images/eighth2.png);
    }

    .ei3{
        background-image: url(images/eighth3.png);
    }

    .ei4{
        background-image: url(images/eighth4.png);
    }

    .eighthh4{
        font-family: 'Manrope';
        font-family: 'Rubik', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        font-size: 18px;
    }

    footer{
        width: 100%;
        height: 1400px;
        background: #061C41;
        display: flex;
        flex-direction: column;
        font-family: 'Manrope';
        /* font-family: 'Rubik', sans-serif; */
        font-family: 'Ubuntu', sans-serif;
        font-weight: 200;
        color: #FFFFFF;
    }

    .ftop{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .footer1{
        width: 311px;
        height: 153px;
        padding: 3%;
        font-size: 22.489px;
        font-weight: 100;
        text-align: center;
        margin-bottom: 50px;
    }

    .footer2{
        padding: 3%;
        line-height: 35px;
        text-align: center;
        margin-bottom: 50px;
    }

    .footer3{
        padding: 3%;
        line-height: 35px;
        text-align: center;
        margin-bottom: 50px;
    }

    .footer4{
        padding: 3%;
        text-align: center;
        margin-bottom: 50px;
    }

    #newsletter{
        border: 2px solid #FFFFFF;
        border-radius: 9px;
        width: 295px;
        height: 65px;
        background: none;
        margin-bottom: 25px;
    }

    ::placeholder{
        padding: 5%;
        font-family: 'Manrope';
        font-family: 'Rubik', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        color: #FFFFFF;
    }

    ::-ms-input-placeholder{
        font-family: 'Manrope';
        font-family: 'Rubik', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        color: #FFFFFF;
    }

    .subs{
        background: #F89F1C;
        border: none;
        border-radius: 9px;
        width: 165px;
        height: 60px;
        font-family: 'Manrope';
        font-family: 'Rubik', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 50px;
    }

    .ficon{
        opacity: 0.25;
        border: none;
        border-radius: 100%;
    }

    hr{
        width: 1318px;
        height: 2px;
        background: #FFFFFF;
        opacity: 0.2;
    }

    .copyright{
        font-weight: 400;
        text-align: center;
    }
}